.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: black;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0em;
}

.message {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #bd64ac;
    letter-spacing: 0.1em;
}

.image {
    max-width: 100%;
    margin-bottom: 30px;
}

.button {
    background: linear-gradient(135deg, #bd64ac, #ff7fff);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
}